html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  overflow: hidden scroll;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(25, 147, 147, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(25, 147, 147, 0.2);
}

.header-container {
  background-image: url("./spwallpaper.png");
  background-size: cover;
  background-position: center;
  height: 500px;
}
.header-container__nav {
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 200px;
  color: black;
}
.header-container__nav p {
  cursor: pointer;
}

@media all and (max-width: 699px) and (min-width: 100px) {
  .main-container {
    padding: 50px 50px;
    background: linear-gradient(0deg, rgb(108, 161, 177) 11%, rgb(0, 0, 0) 100%);
  }
  .main-container__characters {
    color: aliceblue;
    text-align: center;
  }
  .main-container__characters .title {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: monospace;
  }
  .main-container__characters-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .main-container__characters-cards .character-container .character {
    font-size: 20px;
    margin-bottom: 20px;
    font-family: monospace;
  }
  .main-container__characters-cards .character-container__description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    font-family: monospace;
    font-size: 15px;
    text-align: justify;
    margin-bottom: 20px;
  }
  .main-container__characters-cards .character-container__description img {
    height: 200px;
    width: 200px;
    margin: 20px;
    border-radius: 20px;
  }
  .main-container__exes-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 20px;
  }
  .main-container__exes-card img {
    height: 200px;
    width: 200px;
    margin: 20px;
    border-radius: 50%;
  }
}
@media all and (max-width: 1290px) and (min-width: 699px) {
  .main-container {
    padding: 50px 50px;
    background: linear-gradient(0deg, rgb(108, 161, 177) 11%, rgb(0, 0, 0) 100%);
  }
  .main-container__characters {
    color: aliceblue;
    text-align: center;
  }
  .main-container__characters .title {
    font-size: 45px;
    margin-bottom: 20px;
    font-family: monospace;
  }
  .main-container__characters-cards {
    display: flex;
    flex-direction: column;
  }
  .main-container__characters-cards .character-container .character {
    font-size: 35px;
    margin-bottom: 20px;
    font-family: monospace;
  }
  .main-container__characters-cards .character-container__description {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: monospace;
    font-size: 15px;
    text-align: justify;
    margin-bottom: 20px;
  }
  .main-container__characters-cards .character-container__description img {
    height: 200px;
    width: 200px;
    margin: 20px;
    border-radius: 20px;
  }
  .main-container__exes-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: monospace;
  }
  .main-container__exes-card img {
    height: 200px;
    width: 200px;
    margin: 20px;
    border-radius: 50%;
  }
}
@media all and (max-width: 2000px) and (min-width: 1290px) {
  .main-container {
    padding: 50px 50px;
    background: linear-gradient(0deg, rgb(108, 161, 177) 11%, rgb(0, 0, 0) 100%);
  }
  .main-container__characters {
    color: aliceblue;
    text-align: center;
  }
  .main-container__characters .title {
    font-size: 45px;
    margin-bottom: 20px;
    font-family: monospace;
  }
  .main-container__characters-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: stretch;
    gap: 50px;
    justify-content: center;
  }
  .main-container__characters-cards .character-container {
    display: flex;
    flex-direction: column;
    width: 275px;
  }
  .main-container__characters-cards .character-container .character {
    font-size: 35px;
    margin-bottom: 20px;
    font-family: monospace;
  }
  .main-container__characters-cards .character-container__description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    font-family: monospace;
    text-align: justify;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .main-container__characters-cards .character-container__description img {
    height: 200px;
    width: 200px;
    margin: 20px;
    border-radius: 20px;
  }
  .main-container__exes-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 20px;
  }
  .main-container__exes-card img {
    height: 200px;
    width: 200px;
    margin: 20px;
    border-radius: 50%;
  }
}/*# sourceMappingURL=webpage.css.map */